<!DOCTYPE html>
{% extends 'base_Bao.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Bao Rules{% endblock %}

{% block body_block %}

	<h1> Bao Rules </h1>
	<ul>
		<li>Rule 1</li>
		<li>Rule 2</li>
	</ul>


{% endblock %}	
{% block side_block %}
	{% if user.is_authenticated %}	
	<!-- hardcoded url -->	
	<img src ="/media/{{up.picture}}" alt="{{user.username}} avatar" height = "200" width="150"/>
	<br />
	<br />
	Games won: {{up.score}}
	<hr />
    <a href="{% url 'logout_Bao' %}?next=/Bao/">Logout</a> 	
	{% else %}
	<p> If you want to play Bao <a href="{% url 'register_Bao' %}">sign up now!</a></p>
	{% endif %}
{% endblock %}	
