<!DOCTYPE html>
{% extends 'base_Bao.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Bao Login{% endblock %}

{% block body_block %}

	<h1>Login to Bao</h1>

	<form id="login_form" method="post" action="{% url 'login_Bao' %}">
		{% csrf_token %}
		username: <input type="text" name="username" value="" size="50" />
		<br />
		Password: <input type="password" name="password" value="" size="50" />
		<br />

		<input type="submit" value="submit" />
	</form>
	<hr />
	<ul>
		<li><a href="{% url 'index_Bao' %}">Back to homepage</a></li>
		<li>No account? Register<a href = "{% url 'register_Bao' %}"> here!</a></li>
	</ul>

{% endblock %}

{% block side_block %}
	<p> You're nearly able to play! </p>
{% endblock %}