<!DOCTYPE html>
{% extends 'base_Bao.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Tutorial{% endblock %}

{% block body_block %}
	<div class="page-header">
		<h1> How to play Bao</h1>
	</div>
	<div>
		<p> Here you will take your first steps to being crowned Bao Master. Good Luck and have fun!</p><br />	

		<h2> The start of the game </h2>
		<p>Each player starts with two balls in each of their pits. Player 1 (you if you are playing the computer) plays out their moves on the bottom half of the board, while player 2 (or computer) plays from the top half.

		The aim of the game is </p>
	</div>


	<!-- to make use of AJAX in our webapp we will allow logged in users to like the tutorial -->

	<p> 

	<strong id="like_count">{{ tut.likes }}</strong> people think this is helpful.
	{% if user.is_authenticated %}
		{% csrf_token %}
		<input type="button" id="likes" value="Like" />

		<!--
		<button id="likes" data-tutid="{{tut.name}}" type="button">
		<span class="glyphicon glyphicon-thumbs-up"></span>Like
		</button>
		-->
	{% endif %}		
		<!--
		<strong id="like_count">{{ tut.likes }}</strong> people think this is helpful.
		{% if user.is_authenticated %}
			<button id="likes" data-tutid="Introduction" class="btn btn-primary" type="button">
			<span class="glyphicon glyphicon-thumbs-up"></span>
			Like
			</button>
		{% endif %}
		-->
	</p>
		
{% endblock %}


<!-- side block contains the profile information if registered. If not - a message to register. -->
{% block side_block %}
	{% if user.is_authenticated %}	
	<!-- hardcoded url -->	
	<img src ="/media/{{up.picture}}" alt="{{user.username}} avatar" height = "200" width="150"/>
	<br />
	<br />
	Games won: {{up.score}}
	<hr />
    <a href="{% url 'logout_Bao' %}?next=/Bao/">Logout</a> 
	
	{% else %}
	<p> If you want to play Bao against the computer <a href="{% url 'register_Bao' %}">sign up now!</a></p>
	{% endif %}
{% endblock %}	
